<article class="login-box btn95">
    <div class="row post-info">
        <h3 class="col">Example Title</h3>
        <h4 class="col"> by User on 09/26/2022</h4>
    </div>
    <div class="summary">
        <p>This is the content of my post.</p>
    </div>
</article>
<form class="row login-box comment-box btn95">
    <textarea class="col-12 form-control" id="comment-text" placeholder="Leave a Comment:" rows="3"></textarea>
    <button type="submit" class="col-12 btn95">Post</button>
</form>
<div class="comment container">
    <div class="row">
        <h4>Username says:</h4>
        <p>09/26/2022</p>
    </div>
    <p class="comment-text">
        This is a comment.
    </p>
</div>