<div class="login-box btn95">
    <h2 class="bold">Create a New Post:</h2>
    <div class="inputs">
        <input type="text" class="form-control form-control-lg" name="title" placeholder="Enter Title">
        <input type="text" class="form-control form-control-lg" name="summary" placeholder="Summarize">
        <textarea class="form-control form-control-lg" name="desc" placeholder="Your Post Here" rows="12"></textarea>
        <button type="submit" id="create" class="btn95 col">Post</button>
    </div>
</div>
<script src="/javascript/create-post.js"></script>