<a href="/">
    <article class="box btn95">
        <div class="row">
            <h3 class="col bold">Create a New Post</h3>
            <h4 class="col"></h4>
        </div>
        <div class="summary">
            <p>Click here to make a new post, or browse your other posts below.</p>
        </div>
    </article>
</a>
<a href="/">
    <article class="box btn95">
        <div class="row">
            <h3 class="col">Example Title</h3>
            <h4 class="col"> by User on 09/26/2022</h4>
        </div>
        <div class="summary">
            <p>This is a summary of my post.</p>
        </div>
    </article>
</a>