<div id="create" class="login-box btn95">
    <h2 class="bold">Edit post:</h2>
    <div class="inputs">
        <input type="text" class="form-control form-control-lg" id="title" placeholder="Enter Title">
        <input type="text" class="form-control form-control-lg" id="summary" placeholder="Summarize">
        <textarea class="form-control form-control-lg" id="desc" placeholder="Your Post Here" rows="12"></textarea>
        <button type="submit" class="btn95 col">Confirm</button>
    </div>
</div>