<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Well, actually...</title>
</head>
<body>
    <header>
        <h1>Well, actually...</h1>
        <div class="container-fluid">
            <div class="row">
                <h3 class="btn95">A tech advice fourm.</h3>
                <nav>
                    <a href="/" class="btn95">Home</a>
                    <a href="/" class="btn95">Dashboard</a>
                    <a href="/" class="btn95">Log In</a>
                </nav>
            </div>
        </div>
    </header>
    <main class="container-fluid">

    </main>
    <footer>
        <p>&copy; Xunvyre 2022</p>
    </footer>
</body>
</html>