<div class="row">
    <form class="login-box btn95 col">
        <h3 class="bold">Log In:</h3>
        <div class="inputs">
            <input type="email" class="form-control form-control-lg" id="login-email" placeholder="Enter E-mail">
            <input type="password" class="form-control form-control-lg" id="login-password" placeholder="Enter Password">
            <button type="submit" class="btn95 col">Confirm</button>
        </div>
    </form>
    <form class="login-box btn95 col">
        <h3 class="bold">Sign Up:</h3>
        <div class="inputs">
            <input type="username" class="form-control form-control-lg" id="username" placeholder="Enter Username">
            <input type="email" class="form-control form-control-lg" id="signup-email" placeholder="Enter E-mail">
            <input type="password" class="form-control form-control-lg" id="signup-password" placeholder="Enter Password">
            <button type="submit" class="btn95 col">Confirm</button>
        </div>
    </form>
</div>